div.wixbu-dash-content-wrap {
	flex: 1;
}

#wixbu-earnings-report {
	overflow: auto;

	.wer-tab-content {
		min-width: 800px;
	}

	.lifterlms-price {
		font-family: sans-serif;
	}

	.futura,
	.info-text,
	.futura-li,
	a.wer-tab {
		text-transform: uppercase;
		color: #777;
		font: 400 14px/20px futura, sans-serif;
	}

	.futura-li {
		color: #aaa;
	}

	.info-text {
		color: inherit;
	}

	*::-webkit-scrollbar {
		border-radius: 7px;
		border: none;
		box-shadow: inset 0 0 0 6px #fff;
		background: #999;
	}

	*::-webkit-scrollbar-thumb {
		width: 14px;
		height: 14px;
		border-radius: 10px;
		-webkit-box-shadow: none;
		border: 2px solid #bbb;
		background-color: #fff;
	}
	.last-row-last-cols-overline tr:last-of-type td:last-of-type:before,
	.last-row-last-cols-overline tr:last-of-type td:nth-last-of-type(2):before {
		content: '';
		display: block;
		width: 70px;
		margin-left: 14px;
		border-top: 2px solid #ccc;
		margin-bottom: .7em;
	}

	.wer-accurate-info {
		.fa-asterisk {
			font-size: 12px;
			vertical-align: super;
		}
	}

	.wer-time-range {
		margin-top: 1.6em;
		input {
			width: calc( 49% - 22px );
		}
		a, input {
			display: inline-block;
			margin-top: .7em;
			margin-left: 9px;
		}
		form {
			width: 43%;
			min-width: 320px;
			margin: 0 0 0 9px;
		}
		*:first-child {
			margin-left: 0;
		}
		a {
			padding: .5em 0;
			&:hover {
				color: #777;
			}
		}
	}
}
