/**
 * Plugin front end styles
 *
 * @package Wixbu_Instructors
 * @version 1.0.0
 */
.earnings-report nav.llms-sd-nav {

}

#wixbu-earnings-report {
	.lifterlms-price {
		font-family: sans-serif;
		width: 79px;
		display: block;
		text-align: right;
	}

	.wer-table-wrap,
	.wer-tab-content,
	a.wer-tab,
	.wer-box {
		border-radius: 7px;
		border: 2px solid #777;
		color: #777;
		padding: 0.7em;
	}

	.futura,
	.info-text,
	.futura-li,
	a.wer-tab {
		text-transform: uppercase;
		color: #777;
		font: 400 14px/20px futura, sans-serif;
	}

	.futura-li {
		color: #aaa;
	}

	.info-text {
		color: inherit;
	}

	.wer-tabs {
		float: right;
		display: flex;
		margin-bottom: -2px;
		.wer-tab {
			display: block;
			border-radius: 0;
			&.wer-active {
				border-bottom-color: #fff;
			}
			&:not(:last-of-type) {
				border-right: none;
			}
			&:last-of-type {
				border-top-right-radius: 7px;
			}
			&:first-of-type {
				border-top-left-radius: 7px;
			}
		}
	}

	.wer-tab-content {
		border-top-right-radius: 0;
		clear: both;
	}

	.wer-numbers {
		display: flex;
		width: 100%;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		.tile {
			text-align: center;
			padding: calc( .7em + 1% );
			> * {
				line-height: 1.6;
				padding: 0.7em 0 ;
			}
			> .futura-li {
				border-bottom: 2px solid #ddd;
				.info {
					position: relative;
					vertical-align: super;
					display: inline-block;
					font: 12px sans-serif;
					border: 2px solid;
					border-radius: 99px;
					width: 20px;
					height: 20px;
					line-height: 16px;
					.info-text {
						position: absolute;
						bottom: -2px;
						left: -2px;
						width: 200px;
						background: #fff;
						border-radius: 7px;
						display: none;
						z-index: 1;
						text-transform: none;
					}
					&:hover .info-text {
						display: block;
					}
				}
			}
		}
	}

	.wer-table-wrap {
		margin: calc( .7em + 1% );
		padding: calc( .7em + 1% );
		max-height: 340px;
		overflow: auto;
		border-color: #ccc;
		table {
			margin: 0;
			p {
				margin: 0;
			}
			.tac {
				text-align: center;
			}
			.date {
				min-width: 70px;
			}
			&, th, td {
				border: none;
			}
			th {
				font: 14px futura, sans-serif;
				text-transform: uppercase;
				padding-bottom: 1.6em;
				color: #aaa;
			}
		}
	}

	*::-webkit-scrollbar {
		border-radius: 7px;
		border: none;
		box-shadow: inset 0 0 0 6px #fff;
		background: #999;
	}

	*::-webkit-scrollbar-thumb {
		width: 14px;
		height: 14px;
		border-radius: 10px;
		-webkit-box-shadow: none;
		border: 2px solid #bbb;
		background-color: #fff;
	}
	.last-row-last-cols-overline tr:last-of-type td:last-of-type:before,
	.last-row-last-cols-overline tr:last-of-type td:nth-last-of-type(2):before {
		content: '';
		display: block;
		width: 70px;
		margin-left: 14px;
		border-top: 2px solid #ccc;
		margin-bottom: .7em;
	}

	.wer-accurate-info {
		.fa-asterisk {
			font-size: 12px;
			vertical-align: super;
		}
	}

	.wer-time-range {
		margin-top: 1.6em;
		input {
			width: calc( 49% - 22px );
		}
		a, input {
			display: inline-block;
			margin-top: .7em;
			margin-left: 9px;
		}
		form {
			width: 43%;
			min-width: 320px;
			margin: 0 0 0 9px;
		}
		*:first-child {
			margin-left: 0;
		}
		a {
			padding: .5em 0;
			&:hover {
				color: #777;
			}
		}
	}
}